<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      TEE - 2019/2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <h3><ion-text color="medium">Cordova Plugins</ion-text></h3>
    
    <ion-item routerLink="/camera">
      <ion-icon name="camera" slot="start"></ion-icon>
      Câmera
    </ion-item>
    
    <ion-item routerLink="/barcode">
      <ion-icon name="barcode" slot="start"></ion-icon>
      Código de Barras
    </ion-item>

  </ion-list>
</ion-content>
