<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            TEE Task List
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    Nesta página será exibido um mini tutorial sobre o uso deste aplicativo.
</ion-content>
