<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            TEE Task List
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="newTask()">
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding>
            <ion-item *ngFor="let tarefa of lista" routerLink="/step/{{tarefa.id}}">
                <ion-label>{{tarefa.title}}</ion-label>
                <ion-item-options>
                    <ion-item-option color="light">
                        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>
