<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Cadastro de Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding #item *ngFor="let usuario of lista | async">
      <ion-item>
        <ion-label>
          <h2>{{usuario.nome}}</h2>
          <p>{{usuario.email}}</p>
          <p>{{usuario.idade}} ano(s)</p>
        </ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger" (click)="excluir(usuario, item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="editar(usuario, item)">
          <ion-icon slot="icon-only" name="clipboard"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="criarUsuario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
