<ion-content>
  <top title="Dados de Acesso" color="#444" (logoClicked) = "report($event)"></top>

    <div class="bottom">
      <div *ngIf="!formValid">
        <p>Por favor, verifique se seus dados estão corretos. </p>
      </div>
      <ion-list>
        <ion-header><h4>FAZER LOGIN</h4></ion-header>
        <ion-item>
          <ion-input (ionChange)="validacao(this.user)" type="text" [(ngModel)]="user" placeholder="Usuário"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input (ionChange)="validacao(this.pass)" type="password" [(ngModel)]="pass" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-list>
      <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button (click)="login()">
          <ion-icon name="send"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

</ion-content>
