div.bottom {
    height: 55vh;
    background-color: #f2a900;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.bottom ion-list {
    background-color: none;
    width: 90%;
    padding: 2rem;
}